
body{
    color: #333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: grey;
}

#cabecera{
    background: #33A;
    box-shadow: 0rem .2rem 2rem 0rem rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #logo{
    width: 20px;
    vertical-align: middle;
}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#container{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #DDD;
    padding: 0;
    background-color: white;
}

#container h1{
    font-size: 20px;
}
#post{
    background-color: white;
    font-size: 1em;
}

#foto{
    align-items: center;
    width: 300px;
    height: 200px;
}

#footer{
    margin: auto;
    padding: auto;
    width: 70%;
    background-color: bisque;
}

#footer_div{
    text-align: center;
    border: 1px solid #DDD;
}